[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[alias]
  what = log --graph --abbrev-commit --pretty=oneline
[color "branch"]
  remote = yellow
  ui = true